.interest-detail-page {
  margin: 2px auto 15px 5px;
}

.resource-card {
  width: 30%;
  margin-right: 2px;
}

.card-container {
  display: flex;
  align-items: stretch;
}

.card-field {
  width: 100%;
}

