.interest-detail-page {
  margin: 2px auto 15px 5px;
}

.resource-card {
  width: 30%;
  min-width: 300px;
  margin-right: 2px;
  margin-bottom: 10px;
}

.resource-card .mat-card-title {
  overflow: wrap;
  word-wrap: wrap;
}

.card-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}

.card-field {
  width: 100%;
}

