<div *ngIf="interest" class="interest-detail-page">
  <div *ngIf="!editing">
    <h1>
      {{interest.interestName}}
    </h1>
    <p>
      {{interest.description}}
    </p>
  </div>
  <div *ngIf="editing">
    <mat-form-field class="card-field">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="interest.interestName">
    </mat-form-field>
    <mat-form-field class="card-field">
      <mat-label>Description</mat-label>
      <input matInput type="text" [(ngModel)]="interest.description">
    </mat-form-field>
    <button mat-icon-button (click)="update()"><mat-icon>filter_hdr</mat-icon></button>
  </div>
  <button mat-icon-button (click)="toggleEditing()"><mat-icon>flare</mat-icon></button>
  <div *ngIf="interest.interestId !== 'NOT FOUND'">
    <mat-divider style="width: 90%"></mat-divider>
    <h2>
      Resources
    </h2>
    <div class="card-container">
      <mat-card *ngFor="let resource of interest.resources" class="resource-card">
        <mat-card-header>
          <mat-card-title>{{resource.resourceName}}</mat-card-title>
          <mat-card-subtitle>{{resource.progress.progressName}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-icon-button color="accent"><mat-icon>cake</mat-icon></button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="resource-card">
        <mat-card-header>
          <mat-card-title>Add a New Resource</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field class="card-field">
            <mat-label>
              Name
            </mat-label>
            <input matInput [(ngModel)]="newResourceName" type="text">
          </mat-form-field>
          <mat-form-field class="card-field">
            <mat-label>
              Link
            </mat-label>
            <input matInput [(ngModel)]="newResourceLink" type="text">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button id="add-button" mat-mini-fab aria-label="Add Resource" (click)="addResource()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
