<form #createForm id="create-form">
  <mat-form-field>
    <mat-label>Resources</mat-label>
    <mat-select>
      <mat-option *ngFor="let resource of resources | async" [value]="resource.resourceId">{{resource.resourceName}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Progress</mat-label>
    <mat-select>
      <mat-option *ngFor="let progress of progresses | async" [value]="progress.progressId">{{progress.progressName}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
