<mat-card class="grid-card" color="primary">
  <mat-card-header color="accent">
    <mat-card-title>{{interest.interestName}}</mat-card-title>
    <mat-card-subtitle>{{interest.category}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>List item</mat-list-item>
      <mat-list-item>List item</mat-list-item>
      <mat-list-item>List item</mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent"><mat-icon>open_in_new</mat-icon></button>
  </mat-card-actions>
</mat-card>
