<mat-sidenav-container fullscreen>
  <mat-sidenav #leftNavMenu>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="leftNavMenu.close()">
        Home</a>
    </mat-nav-list>
    <hr>
    <h3 mat-subheader>New</h3>
    <mat-nav-list>
      <a mat-list-item routerLink="/new/interest" (click)="leftNavMenu.close()">
        Interest</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/new/resource" (click)="leftNavMenu.close()">
        Resource</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="/new/tag" (click)="leftNavMenu.close()">
        Tag</a>
    </mat-nav-list>
    <hr>
    <button mat-button (click)="leftNavMenu.close()">Close</button>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="leftNavMenu.open()">
      <mat-icon>
        <a>reorder</a>
      </mat-icon>
    </button>
    <h1 id="site-title">
        Bower Book
    </h1>
  </mat-toolbar>
<router-outlet></router-outlet>
